[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = git@github.com:alobbs/hugo-PaperMod.git
[submodule "themes/github-style"]
	path = themes/github-style
	url = git@github.com:MeiK2333/github-style.git
